<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0f9b049e-2351-410f-9a96-4fc133153cea" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0f9b049e-2351-410f-9a96-4fc133153ceafileName">TestSuite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
