<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d4250dec-0eb5-47e6-b85d-d8ee7056854d" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d4250dec-0eb5-47e6-b85d-d8ee7056854dfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
