<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="bf8baad6-17a4-4371-b592-5451752ee028" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 2" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="bf8baad6-17a4-4371-b592-5451752ee028fileName">REST-Service-2</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
